.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 15px 0;
    background-color: transparent;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.brand-logo {
    width: 40px;
    height: auto;
    color: inherit;

}

.brand-name {
    font-family: var(--font-rock-salt), sans-serif;
    font-weight: normal;
    font-size: 22px;
    color: inherit;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--glassed-gradient);
    backdrop-filter: var(--glassed-backdrop-filter);
    -webkit-backdrop-filter: var(--glassed-webkit-backdrop-filter);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 5px 10px;
}

.navbar-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-menu ul li {
    list-style: none;
    margin: 0;
}

.navbar-menu ul li a {
    display: block;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.2s ease;
}

.navbar-menu ul li a:hover {
    opacity: 0.7;
}

.navbar-login {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.navbar-login-button {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 500;
    padding: 15px 40px;
    cursor: pointer;
    margin-left: 10px;
    background-color: var(--glassed-gradient);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: var(--glassed-backdrop-filter);
    -webkit-backdrop-filter: var(--glassed-backdrop-filter);
    box-shadow: var(--glassed-box-shadow);
}

.navbar-login-button:hover {
    opacity: 0.7;
    transition: opacity 0.2s ease;
    transform: translatey(-2px);
}
.navbar-sidebar {
    display: none;
}

@media (max-width: 1000px) {
    .navbar {
        display: none;
    }
    .navbar-sidebar {
        display: block;
    }

}